.form {
    display: flex;
    flex-direction: column;
    padding: 3rem;

    &-username {
        @include modal-center;
        @include modal-center-bg;

        align-items: center !important;

        @include respond(tab-port) { // width < 900?
            width: 70%;
        }
    
        @include respond(phone) { // width < 600?
            width: 90%;
        }

        & h2 {
            text-align: center;
        }

        &__input-text{
            padding: 0.7rem 1rem;
            width: 70%;

            outline: none;
            border: none;

            border-radius: 2rem;
        }
    }

}